*{
  margin:0;
  padding:0;
}

.container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", sans-serif;

}

.navContainer{
  list-style-type: none;
}

.navLink{
  padding: 15px 0;

}